body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 1150px;
    min-width: 1150px;
    border: thin solid gray;
    background-color: white;
}

.boxed-layout {
    font-family: sans-serif;
    background-color: #ebf3f7;
}

.page-content {
    padding: 25px 0;
    margin: 0 25px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kalaha-container{
    display: flex;
    width: 135px;
    height: 270px;
}

.pit-container{
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 270px;

}

.pit, .kalaha{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: thin solid gray;
    font-size: 7em;
}

a {
    text-decoration: none;
}

.pit {
    flex: 1;
}
.kalaha {
    flex: 2;
}

.playerActive a {
    opacity: 1;
    color: burlywood;

}
.playerInactive a {
    color: lightgray;
    opacity: 0.7;
}

.winner{
    padding-top: 25px;
    text-align: center;
    font-size: 2em;
}

.GameOngoing{
    visibility: hidden;
}

.GameOver {
    visibility: visible;
}

.restart{
    text-align: center;
    border-radius: 90px;
    border: thin solid gray;
    font-size: 2em;
}